// MAIN COLORS
$color-accent: #5D5BF3
$color-text: #525175
$color-border: rgba(0, 0, 0, 0.30)
$color-background-alt: #FAFAFF
$color-background: #FFFFFF

// Éveil
$wakening: #FFF08F
// Études
$studies: #F8896C
// Conseil
$advice: #9FF6BA
// Dégradé
$gradient-background: linear-gradient(180deg, $color-accent 0%, $studies 219.08%)

// TYPOGRAPHY

// Fonts family
// $body-font-family: "Crossten"
$heading-font-family: "Crossten"
$lead-font-family: "EBGaramond"


// Headings
$heading-font-weight: bold
// h1
$h1-size-desktop: px2rem(66)
// h2
$h2-size-desktop: px2rem(36)
// h3
$h3-size-desktop: px2rem(24)
// h4
$h4-size-desktop: px2rem(22)
$h4-weight: normal

// Lead
$lead-size-desktop: px2rem(62)
$lead-line-height: 160%
$lead-weight: normal

// $lead-hero-font-family: $lead-font-family

// Body
// $body-line-height:120%
$body-size-desktop: px2rem(24)

// Meta
$meta-line-height: 130%
// $meta-size-desktop: px2rem(18)

// Quotes
// $quote-font-family: $lead-font-family
$quote-size-desktop-long: px2rem(36)
$quote-weight: bold

// Buttons
$btn-font-size-desktop: px2rem(16)
$btn-padding-x-desktop: px2rem(45)
$btn-padding-y-desktop: px2rem(18)

// Header
$header-nav-padding-y-desktop: px2rem(28)
$header-height-desktop: 88px
$header-border-bottom-width: 0
$header-background: $color-background

// Hero
$hero-background-color: transparent