
//Landingpage
   
@mixin backgroundnoise
    position: absolute
    z-index: 1
    opacity: 0.5
    content: ""
    right: 0
    left: 0
    bottom: 0
    top: 0

.page__home
    main
        background-color: $color-accent
        background-image: url(/assets/images/noise-2.png)
        background-size: 100px
        position: relative
        min-height: 100vh
        // &::after
        //     @include backgroundnoise
    .hero
        padding-bottom: 0
        .container
            .content::before
                content: ""
                background-image: url(/assets/images/logo_blanc.svg)
                background-repeat: no-repeat
                width: 130px
                height: 64px
                display: block
        .content h1
            font-size: px2rem(70)
            @include media-breakpoint-up(desktop)
                font-size: px2rem(160)
                line-height: px2rem(160)
                margin-top: $spacing4
                width: col(7)
        .lead
            font-family: $heading-font-family
            font-weight: normal
            font-size: px2rem(32)
            @include media-breakpoint-up(desktop)
                font-size: px2rem(42)
                width: col(9)
    &, .hero, main a, main .link
        color: #FFFFFF
    .blocks
        .block-pages--grid
            .grid
                @include media-breakpoint-up(desktop)
                    display: flex
                    justify-content: flex-end
        &, a,.link
            font-size: 24px
            font-weight: 300
            text-align: right
    header#document-header
        display: none


//footer
footer#document-footer
    @include media-breakpoint-up(desktop)
        padding-top: 0
    .footer-logo
        display: none
    &, ul, li, a
        font-weight: 300
        font-size: pxrem(16)
        line-height: 12px
    .container 
        padding-bottom: 0
        .footer-credit 
            margin-top: 5px
        .footer-social
            align-self: self-end

//quotes
.block-testimonials blockquote p
        font-style: normal

//cta
.block-call_to_action
    position: relative
    .call_to_action
        position: relative
        z-index: 1
        .description p
            font-weight: 300
    @include in-page-with-sidebar
        .call_to_action > div
            background: transparent
            &::after
                background-image: url(/assets/images/noise-2.png)
                background-size: 100px
                z-index: -1
                width: auto
                left: 0
                right: calc(Max(#{$grid-gutter}, calc(50vw - #{half($grid-max-width)} + #{$grid-gutter})) * -1)
    @include in-page-without-sidebar
        &::after
            background-image: url(/assets/images/noise-2.png)
            background-size: 100px
            z-index: 0

.blocks, 
body.full-width
    .block-image 
        figure 
            img 
                width: 100%
                height: 460px
                object-fit: cover

.organizations
    .media
        background-color: white

.hero:not(.hero--with-image)
    .content > hgroup 
        width: col(12)

.post 
    .media 
        img
            aspect-ratio: 1.5

.block-chapter--accent_background
    position: relative
    @include in-page-without-sidebar
        &::after
            @include backgroundnoise
            z-index: 0
    .chapter
        position: relative
        @include in-page-with-sidebar
            &::after
                @include backgroundnoise
                z-index: 0
    .text
        z-index: 1

.block-pages
    margin-bottom: 0
    padding-bottom: $spacing3

.posts__section
    [itemprop="articleBody"]
        @include small
        margin-top: $spacing0
    .post
        .post-meta
            display: none !important
.reading-time
    display: none !important
    

.menu
    .nav-level-2 
        > li 
            > a, 
            > span
                @include meta
    .has-children:not(.header-i18n) 
        .dropdown-menu
            min-width: auto
            padding-bottom: $spacing0